* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1e242a;
    color: #fff;   
    font-family: sans-serif;
    list-style: none;
}

main {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
}

#landing-page .background-anim {
   width: 530px;
   height: 625px;
   background: url(./img/img1.png);
   position: absolute;
   bottom: -100%;
   left: 30%;
   animation: anim1 2s forwards, anim2 2s forwards 3s ;
   -webkit-animation:  anim1 2s forwards, anim2 2s forwards 3s;
}

#landing-page .background-anim::after {
    content: '';
    width:  530px;
    height: 625px;
    position: absolute;
    background: url(./img/img2.png);
    left: 0px;
    z-index:-1;
}

@keyframes anim1 {
    from {
        bottom: -100%;
    }
    to {
        bottom: 0%;
    }
}

@keyframes anim2 {
    from {
        left:30%;
        width: 530px;
    }
    to {
        width: 0px;
        left: 50%;
    }
}

#landing-page .heading {
    position: relative;
    left: -100%;
    animation: anim3 2s forwards 3s ;
    -webkit-animation:  anim3 2s forwards 3s;
}

#landing-page .heading h1 {
    width: auto;
    height: auto;
    font-size: 8rem;
    font-weight: 600;
    line-height: 130px;
    top: 230px;
    left: 50px;
    position: absolute;
}

@keyframes anim3 {
    from {
        left: -100%;
    }
    to {
        left: 0%;
    }
}

#landing-page nav {
    overflow: hidden;
    width: 100%;
    position: absolute;
    top: -100%;
    animation: anim4 2s forwards 2.5s ;
    -webkit-animation:  anim4 2s forwards 2.5s;
}

#landing-page nav .logo {
    float: left;
    font-size: 18px;
  margin-top: 20px;
  margin-left: 80px;
}

#landing-page nav .navbar {
    float: right;
    margin-top: 20px;
    margin-right: 80px;
    font-size: 12px;
    letter-spacing: 2px;
}

#landing-page nav .navbar ul li {
    display: inline-block;
    margin-left: 100px;
    cursor: pointer;
}


@keyframes anim4 {
    from {
        top: -100%;
    }
    to {
        top: 2%;
    }
}